#apDiv1 {
	position: absolute;
	left: 125px;
	top: 178px;
	width: 951px;
	height: 644px;
	z-index: 1;
}
#apDiv2 {
	position: absolute;
	left: 209px;
	top: 396px;
	width: 951px;
	height: 644px;
	z-index: 1;
}
#apDiv3 {
	position: absolute;
	left: 708px;
	top: 396px;
	width: 951px;
	height: 644px;
	z-index: 1;
}
#apDiv4 {
	position: absolute;
	left: 461px;
	top: 538px;
	width: 951px;
	height: 644px;
	z-index: 1;
}
#apDiv5 {
	position: absolute;
	left: 207px;
	top: 670px;
	width: 951px;
	height: 644px;
	z-index: 1;
}
#apDiv6 {
	position: absolute;
	left: 207px;
	top: 727px;
	width: 951px;
	height: 644px;
	z-index: 1;
}
#apDiv7 {
	position: absolute;
	left: 207px;
	top: 787px;
	width: 951px;
	height: 644px;
	z-index: 1;
}
#apDiv8 {
	position: absolute;
	left: 522px;
	top: 667px;
	width: 951px;
	height: 644px;
	z-index: 1;
}
#apDiv9 {
	position: absolute;
	left: 522px;
	top: 760px;
	width: 951px;
	height: 644px;
	z-index: 1;
}